
.customer {
    display:flex;
    justify-content: flex-end;
    background-color: #fff;
    margin-top: 1em;
}

.navbar {
   background-color: #414b3b;
}

.navbar-brand {
    color: black;
    font-family: 'Bradley Hand', sans-serif;
    font-size: 40px;
    
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

/*banner styling */

.banner-container {
    text-align:center;
    width: 100%;
    height:100%;
}

.banner-img {
    max-height: 200px;
}

.banner{
    color: white;
    background: url(../images/green_background.jpg) top left/cover no-repeat;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-header {
    font-size: 5em;
    
}

/* home page styling*/


.categories-container {   
    margin:auto;
    text-align:center;
}

.category-link {
    color:#fff;
    text-decoration: none;
    font-size: 60px;
}


.categories li {
    display:inline;
    text-align: center;
    background-color: #7f4d41;
    margin:15px;
    border-radius:50px;
    width: 25em;
}

.learn-container {
    display:flex;
    color: #fff;
    background-color:#414b3b;
    margin-bottom: 50px;
}

.home-img {
    margin:2em;
}


.stylist-container {
    display:flex;
    margin-bottom:50px;
}

.login {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }

.login-container {
    display:flex;
    justify-content:center;
    margin: 2em;
}
  
/* learn section styling */

.home-container {
    color: #fff;
    background-color: #414b3b;
    text-align:center;
}

.home-container p {
    margin-top:5em;
}



/* stylist section styling */
.home-container-2 {
    text-align:center;
}

.home-container-2 p {
    margin-top:5em;
}


.bottom {
    background-color:#7f4d41
}


#newsletter {
    width:300px;
}


.newsletter-container {
    display:flex;
    justify-content: flex-end;
    margin: 2em;
}

.footer {
    color:#fff;
    background-color: #414b3b;
}

.footer-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.social-media {
    margin-top: 5em;
}


.more{
    color:#fff;
    text-decoration:none;
}





.learn-img {
    height: 30vw;
    width:30vw
}

.order-container{
    padding-left:50px;
    min-width: 500px;
}



.checkout-container {
   padding:20px;
   @media screen and (max-width:768px) {
    display: flex;
    flex-direction:column;
   }
}

/*newsletter formatting */

.bottom {
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color:#7f4d41;
    padding:25px;
}


#newsletter {
    width:400px;
}

/* products pages styling */
.page-title {
    color:#fff;
    background-color:#7f4d41;
    padding: 50px;
    margin: 5em;
}

.card-footer {
    background-color: white;
    border: none;
}

.products-container {
    width:80vw;
    margin:auto;
    padding-bottom:30px;
}


.image-wrapper {
    height:22vw;
    margin:0 auto;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
