.customer {
    display:flex;
    justify-content: flex-end;
    background-color: #fff;
    margin-top: 1em;
}

.navbar {
   background-color: #414b3b;
}

.navbar-brand {
    color: black;
    font-family: 'Bradley Hand', sans-serif;
    font-size: 40px;
    
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.banner {
    color: white;
    background: url(../images/green_background.jpg) top left/cover no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }

.login-container {
    display:flex;
    justify-content:center;
    margin: 2em;
}
  

.top-brands {
    color: #fff;
    background-color: #414b3b;
}

.cards-wrapper {
    display:flex;
}

.card {
    margin: 0 5em;
    width: calc(100%/3);
}

.cards-image-wrapper {
    height: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}


.bottom {
    background-color:#7f4d41
}

#newsletter {
    width:300px;
}

.newsletter-container {
    display:flex;
    justify-content: flex-end;
    margin: 2em;
}

.footer {
    color:#fff;
    background-color: #414b3b;
}

.footer-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.social-media {
    margin-top: 5em;
}

.more{
    color:#fff;
    text-decoration:none;
}

.checkout {
    width:50%;
}
.checkout-container {
    display:flex;
    justify-content:flex-start;
    margin:1em;
}

.short {
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
}
.shipping {
    width:50%;
}
.shipping-container {
    display:flex;
}

.order-container {
    position: absolute;
        top: 80%;
        right: 10%;
}

.hr-checkout {
    width:50%;
}

