
.customer {
    display:flex;
    justify-content: flex-end;
    background-color: #fff;
    margin-top: 1em;
}

.navbar {
   background-color: #414b3b;
}

.navbar-brand {
    color: black;
    font-family: 'Bradley Hand', sans-serif;
    font-size: 40px;
    
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.banner {
    color: white;
    background: url(../images/green_background.jpg) top left/cover no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-header {
    font-size: 5em;
}
.categories-container {
   display:flex;
   justify-content:center;
   padding: 5em;
   
}
.categories li {
    display:inline;
    color: #fff;
    background-color: #7f4d41;
    font-size:5em;
    border-radius:100%;
    padding:1em;
    margin:30px;
    
    
}

.learn-container {
    display:flex;
    color: #fff;
    background-color:#414b3b;
    margin-bottom: 50px;
}

.home-img {
    margin:2em;
}


.stylist-container {
    display:flex;
    margin-bottom:50px;
}

.login {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }

.login-container {
    display:flex;
    justify-content:center;
    margin: 2em;
}
  

.bottom {
    background-color:#7f4d41
}


#newsletter {
    width:300px;
}


.newsletter-container {
    display:flex;
    justify-content: flex-end;
    margin: 2em;
}

.footer {
    color:#fff;
    background-color: #414b3b;
}

.footer-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.social-media {
    margin-top: 5em;
}


.more{
    color:#fff;
    text-decoration:none;
}

.page-title {
    color:#fff;
    background-color:#7f4d41;
    padding: 50px;
    margin: 5em;
}

.products-container {
    width:80vw;
    margin:auto;
    padding-bottom:30px;
}

.learn-img {
    height: 30vw;
    width:30vw
}

.cart-table {
    
}
